<div class="d-flex justify-content-between">
  <h1>Tweets</h1>
  <% if Current.user.twitter_accounts.any? %>
  <%= link_to 'Schedule a Tweet', new_tweet_path , class:"btn btn-primary m-2"%>
  <% end %>
</div>
   <% if Current.user.twitter_accounts.none? %>
   <%= button_to 'Connect your twitter account', "/auth/twitter" ,data: {turbo: "false"}, method: :post, class:"btn btn-dark" %>
   <%end%>

 <%= render @tweets %>
