<div class="d-flex justify-content-between mx-4 mt-3">
  <h1 class="fst-italic">Lets Tweet !</h1>
  <% if Current.user.twitter_accounts.any? %>
  <%= link_to 'Schedule a Tweet', new_tweet_path , class:"btn btn-primary btn-lg "%>
  <% end %>

   <% if Current.user.twitter_accounts.none? %>
   <%= button_to 'Connect your twitter account', "/auth/twitter" ,data: {turbo: "false"}, method: :post, class:"btn btn-outline-dark btn-lg m-2 " %>
   <%end%>
</div>
 <%= render @tweets %>
