<div class='d-flex align-items-center justify-content-between m-4'>
  <h2 class="fst-italic">Twitter Account</h2>
  <%= button_to "Connect your Twitter Account","/auth/twitter", data: {turbo: "false"}, method: :post , class:"btn btn-dark btn-lg m-2 "%>
</div>

<% @twitter_accounts.each do|twitter_account| %>
  <div class="d-flex ">
  <div class="mx-4">
     <%= image_tag twitter_account.image, class:'rounded-circle'%>
     <%= link_to "@#{twitter_account.username}", "https://twitter.com/#{twitter_account.username}",  target: :_blank  %>
   </div>  
     <%= button_to 'Disconnect', twitter_account_path(twitter_account), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
<%end%>